.form-page {
    padding: 50px;
    max-width: 1200px;
    z-index: 1;
    position:relative;
    margin: 50px auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.form-page h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 32px;
    color: #333;
}

.form-group {
    display: flex;
    margin-bottom: 20px;
}

.radio-group {
    margin-right: 20px; /* Add space between the radio group and the input fields */
    flex: 0 0 200px; /* Fixed width for the radio group */
}

.radio-group label {
    display: block; /* Stack labels vertically */
    margin-top: 5px;
}

.input-container {
    flex: 1; /* Allow input fields to take the remaining space */
}

.form-page input[type="text"],
.form-page input[type="email"],
.form-page input[type="tel"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.form-page button {
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    display: block; /* Ensure button takes full width */
    margin: 20px auto; /* Center button with margin */
}

.form-page button:hover {
    background-color: #0056b3;
}
